body {
  font-family: "Oxygen Mono", monospace;
}

.whole-pokedex {
  background-image: url(../img/pokedex.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 800px;
  display: flex;
  margin: 100px auto 0;
  /* border: solid 5px rgb(65, 239, 255); */
}

.left-side {
  /* background-color: aquamarine; */
  margin: 0 auto;
  width: 370px;
  /* border: solid 5px green; */
}

.left-container {
  /* background-color: #ffffff; */
  width: 279px;
  margin: 230px 40px;
  height: 216px;
  overflow: scroll;
  color: rgb(23 255 0);
}
.left-container h3 {
  margin: 16px 5px 5px;
  text-align: center;
}

.pokemon-portrait {
  display: block;
  width: 100px;
  margin: 15px auto;
}

.left-description {
  margin: 16px 15px;
}

.left-battery {
  width: 125px;
  height: 62px;
  margin: -38px 76px;
  /* background-color: blue; */
}

.right-side {
  /* background-color: rgb(33, 143, 106); */
  margin: 0 auto;
  width: 370px;
  /* border: solid 5px green; */
}

.right-container {
  /* background-color: #ffffff; */
  width: 315px;
  height: 110px;
  margin: 215px 43px;
  overflow: scroll;
  color: rgb(23 255 0);
}

.right-container-list {
  font-size: 17px;
  line-height: 1.8;
  list-style-type: none;
}
.listed-pokemon {
  border: solid 3px #1aff02;
  border-radius: 5px;
  color: #1aff02;
  background-color: #403d4a;
}
.listed-pokemon:first-letter {
  text-transform: uppercase;
}

.listed-pokemon:hover {
  background-color: #1aff02;
  color: #403d4a;
}

.exclamation {
  color: #403d4a;
  font-size: 11px;
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  background-color: #ffe605;
  border-radius: 11px;
}

.right-blue-button-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-gap: 20px; */
  margin: -171px 43px;
}

.right-blue-button {
  /* add animation button */
  /* background-color: blueviolet; */
  width: 56px;
  margin: 0px 8px 8px 0;
  height: 50px;
  border-radius: 3px;
}

.btn {
  font-size: 10px;
  margin: 20px 20px;
}

/*modal css*/

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 300px;
  max-width: 700px;
  text-align: center;
  border-radius: 10px;
}

.modal-close {
  font-size: 16px;
  margin: 7px 7px 7px 255px;
  -webkit-appearance: none;
  border-radius: 7px;
  border: 0;
  background: rgb(198, 23, 52);
  color: #ffffff;
  text-decoration: none;
}
.modal-close:hover {
  background: rgb(243, 43, 63);
}

.modal h1 {
  margin-top: 0;
}

.modal h1:first-letter {
  text-transform: uppercase;
}

/*______________________animation______________________*/

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
